[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configparser = "*"
pillow = "*"
tqdm = "*"
zstandard = "*"
ordered-set = "*"
nuitka = "*"

[dev-packages]
mypy = "*"
black = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.10"
