[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configparser = "*"
pillow = "*"
tqdm = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
autopep8 = "*"
nuitka = "*"
zstandard = "*"

[requires]
python_version = "3.10"
